:root {
  --main-text: #555;

  --bg-white: #fff;
  --bg-light: #fff;
  --bg-dark: #555;
  --bg-accent: rgb(252, 240, 242);

  --fs-h1: 3.5rem;
  --fs-h2: 2.75rem;
  --fs-h3: 1.5rem;
  --fs-p: 1rem;
}

/* Standard */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: var(--main-text);
  line-height: 1.5;
  background-color: var(--bg-light);
  text-align: center;
}

a {
  color: var(--main-text);
  text-decoration: none;
  font-size: var(--fs-p);
}

a:hover {
  /* border-bottom: 1px solid var(--main-text); */
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: var(--fs-h1);
  user-select: none;
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
p {
  font-size: var(--fs-p);
}
strong {
  font-weight: 900;
  color: black;
}

h1,
h2,
h3 {
  margin: 1rem 0;
  font-weight: 900;
  line-height: 1;
}

/* Header & Nav */

header {
  background-color: var(--bg-white);
  padding: 1rem 0;
  border-bottom: 2px solid lightgray;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  max-width: 1000px;
}

.nav {
  display: none;
}

.nav-item {
  font-weight: 900;
  margin-top: 1rem;
}

.nav-item a {
  font-weight: 900;
}

.show {
  display: block;
  width: 100%;
  text-align: center;
}

/* Main Containers */

.main-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  background-color: var(--bg-white);
  padding: 2rem 0;
}

.flex {
  display: flex;
  flex-direction: column;
}

.bg-accent {
  background-color: var(--bg-accent);
  /* background: linear-gradient(
    0deg,
    rgb(255, 216, 216, 0.3) 0%,
    rgba(255, 216, 216, 1) 75%
  ); */
}

/* Intro */

.avatar {
  display: none;
}

.intro-text {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Skills */

.skills {
  margin: 0 auto;
  max-width: 1500px;
}

.skill-item {
  width: 95%;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 1rem 3rem;
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); */
}

.skill-icon {
  font-weight: 900;
  width: 7rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.skill-icon:hover {
  opacity: 0.8;
  transform: translate(0, -0.5rem);
  transform: scale(1.1);
}

.skill-icon:hover:after {
  content: attr(data-tooltip);
  color: #000;
  position: absolute;
  bottom: -0.1rem;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

.skill-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem auto 0 auto;
  gap: 1rem;
  max-width: 300px;
}

.express {
  border: 1px solid black;
}

/* Projects */

.projects {
  width: 95%;
  background-color: var(--bg-light);
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.project-card {
  width: 95%;
  margin: 0;
  transition: transform 200ms;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.project-card:hover {
  transform: scale(1.01);
}

.img-container {
  position: relative;
}

.project-img {
  margin: 0 auto;
  object-fit: fill;
  background-color: var(--bg-light);
}

.img-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 200ms;
  user-select: none;
}

.img-overlay:hover {
  opacity: 1;
}

.project-title {
  font-weight: 900;
  font-size: 2rem;
}

.btn-container {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  gap: 1rem;
}

.btn-project {
  font-family: inherit;
  font-weight: 900;
  flex: 1;
  background-color: transparent;
  border: 2px solid var(--bg-accent);
  color: var(--bg-accent);
  padding: 0.25rem 0.5rem;
  transition: transform 200ms;
}

.btn-project:hover {
  transform: scale(1.05);
}

.social-list {
  flex-direction: row;
  margin: 2rem 0;
}

.social-list-item {
  margin-top: 2rem;
  font-weight: 900;
  margin: 0 2rem;
  position: relative;
}

.social-list-item:hover {
  opacity: 0.8;
  transform: translate(0, -0.5rem);
  transform: scale(1.1, 1.1);
}

.social-list-item:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -0.1rem;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

/* Media Queries */
@media (min-width: 600px) {
}

@media (min-width: 750px) {
  html {
    font-size: 70%;
  }

  .skills-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .projects-container {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 3rem;
    margin: 0 auto;
  }

  .projects {
    width: 100%;
    flex-direction: row;
  }

  .project-card {
    /* width: 30%; */
    width: 360px;
    height: 240px;
  }

  .intro-text {
    margin: 0;
  }

  .social-list {
    margin: 0;
  }

  .header-content {
    flex-direction: row;
  }

  .intro-text {
    justify-content: flex-start;
  }

  .skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }

  .skill-group {
    max-width: 700px;
  }
}

@media (min-width: 960px) {
}

@media (min-width: 1300px) {
}

@media (min-width: 1600px) {
}
